@use "./variables" as *;
@use "./mixins" as *;

// Default Styles

* {
  margin: 0;
  padding: 0;
  // remove this
  text-align: center;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  height: auto;
  width: 100%;
}

ul {
  list-style: none;
}

a,
button {
  display: inline-block;
  text-decoration: none;
}