@use "./variables" as *;
@use "./mixins" as *;

// joblist
.job-list {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-color: $bg;
}

.job-list-container {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-basis: calc(48% - 2%);
  flex-direction: column;
  justify-content: space-between;
  margin: 1%;
  min-height: 220px;
  padding: 3% 2.5%;
  position: relative;
  width: calc(50% - 2%);
  border: 1px solid black;
}

.job-list-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.job-list-upper-l {
  min-width: 50px;
  min-height: 50px;
  background-color: $grey;
  border-radius: 50%;
}

.job-list-upper-c {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.job-list-upper-r {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.job-details {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.job-details div {
  margin-right: 10px;
}

.job-list-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.job-list-lower-l {
  display: flex;
  flex-direction: row;
}
