@use "./variables" as *;
@use "./mixins" as *;

@font-face {
  font-family: "EB Garamond";
  src: local("EB Garamond Regular"),
  url(../fonts/EBGaramond-VariableFont_wght.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Gordita" ;
  src: local("Gordita Regular"),
  url(../fonts/Gordita-Regular.otf);
  font-weight: normal;
}

html {
  font-size: $fs-global;
  font-family: $ff-gordita;
}