// colours
$white: #F5F5F5;
$black: #0F1620;
$green: #31795A;
$bright-green: #00bf58;
$lime-green: #D2F34C;
$grey: #C4C4C4;
$light-grey: #c4c4c453;
$bg: #E9F2EF;
$bg-nav: #254135;

// font sizes
$fs-global: 62.5%;
$fs-3xl: 9rem;
$fs-2xl: 8.5rem;
$fs-xl: 7.2rem;
$fs-lrg: 6rem;
$fs-med: 5.2rem;
$fs-small: 3.6rem;
$fs-xs: 2.4rem;
$fs-2xs: 2rem;
$fs-3xs: 1.7rem;

// font families
$ff-garamond: "EB Garamond", sans-serif;
$ff-gordita: "Gordita", sans-serif;
