// colours
$white: #fcfcfc;
$black: #000000;
$dark-purple: #22162B;
$med-purple: #451F55;
$light-purple: #724E91;
$pink: #E54F6D;
$yellow: #F8C630;
$transparent: #00000000;

// font sizes
$fs-global: 62.5%;
$fs-3xl: 9rem;
$fs-2xl: 8.5rem;
$fs-xl: 7.2rem;
$fs-lrg: 6rem;
$fs-med: 5.2rem;
$fs-small: 3.6rem;
$fs-xs: 2.4rem;
$fs-2xs: 2rem;

// font families
$ff-garamond: "EB Garamond", sans-serif;
$ff-gordita: "Gordita", sans-serif;
